@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$form-border: #404448;
$blue: #182C3B;
$green: #00dcb4;

@import 'mixins.scss';
@import 'lib/donut.scss';
@import 'lib/nouislider.scss';



#portman-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    z-index: 999;
    display: none;
    &.active {
        display: block;
    }
}

#portman-calculator {
    position: fixed;
    background: $blue;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    max-height: 80vh;
    max-width: 650px;
    overflow: auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    padding: 2em;
    &.active {
        display: block;
    }

    #portman-close-icon {
        position: absolute;
        right: 2em;
        top: 1em;
        &:hover {
            cursor: pointer;
        }
    }
    
    .title-and-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1em;
        @include phone {
            flex-direction: column;
            .title {
                margin-bottom: 0.5em;
            }
        }
        .title {
            font-size: 2em;
        }
        .logo {
            img {
                height: 3em;
            }            
        }
    }
    .field {
        margin-bottom: 1em;
        @include phone {
            margin-bottom: 2em;
        }
        label {
            font-weight: bold;
            margin-bottom: 0.5em;
            display: block;
        }
        input[type=text] {
            border: 1px solid rgba(white, 0.5);
            color: white;
            background: transparent;
            border-radius: 6px;
            margin-bottom: 0px;
            padding: 0.5em 1em;
            display: block;
            width: 100%;
            box-sizing: border-box;
            @include placeholder {
                color: white;
            }
            &:focus {
                background: rgba(white, 0.5);
            }
            &:focus-visible {
                outline: none;
            }

        }
         
    }
    button {
        width: 100%;
        padding: 1em 2em;
        border-radius: 6px;
        border: none;
        font-weight: bold;
        font-size: 1.25em;
        &:hover {
            cursor: pointer;
        }
    }
    .portman-month-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .month {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-weight: bold;
            border-width: 1px;
            border-radius: 6px;
            border-style: solid;
            border-color: white;
            padding: 0.5rem;
            color: $green;
            span {
                font-size: 0.75rem;
                color: white;
            }
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: white;
                color: $blue !important;
                span {
                    color: $blue !important;
                }
            }
        }
    }
    .credit-profile-labels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75em;
    }
    .donut-container {
        position: relative;
        padding: 1em 0em;
        @include phone {
            display: flex;
            flex-direction: column-reverse;
        }
        .key {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 1em;
            @include phone {
                position: initial;
                padding-top: 0;
            }
            .key-line {
                font-weight: bold;
                padding-bottom: 0.5em;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .circle {
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    margin-right: 0.5em;
                }
            }
        }
    }
    .results {
        .result-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            &.total {
                .label, .amount {
                    font-size: 1em;
                }
                
            }
            &.monthly {
                .label, .amount {
                    font-size: 1.5em;
                }
                
            }
            .label {
                font-weight: bold;
            }
        }
    }
    .tooltip, .footer .bottom {
        opacity: 0.75;
        font-size: 0.75rem;
        padding: 1em 0;
        display: flex;
        align-items: center;
        svg {
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
    }
    .footer {
        .top {
            margin-top: 1em;
            font-size: 1.25em;
            font-weight: bold;
        }
    }
}